<div class="mx-5 row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>Profile Info</h1>
    <form #form ="ngForm" (ngSubmit)="submit();">
        <div *ngIf="resultUpdate=='1'" class="alert alert-success">User Updated Successfully</div>
        <div *ngIf="resultUpdate=='0'" class="alert alert-danger">Failed To Update User</div>
        <div class="form-group d-flex">
            <span class="input-group-text">Registration No.</span>
            <input [(ngModel)]="user.regNum" type="text" name="regNum" id="regNum" class="form-control" readonly="true">
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">First Name</span>
            <input [(ngModel)]="user.firstName" type="text" name="fName" id="fName" class="form-control">
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">Middle Name</span>
            <input [(ngModel)]="user.middleName" type="text" name="fName" id="fName" class="form-control">
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">Last Name</span>
            <input [(ngModel)]="user.lastName" type="text" name="fName" id="fName" class="form-control">
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">Gender</span>
            <select [(ngModel)]="user.gender" name="gender" id="gender" class="form-control">
                <option value="">Select A Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">Contact No.</span>
            <input [(ngModel)]="user.contactNum" type="tel" name="contact" id="contact" class="form-control">
        </div>
        <div class="form-group d-flex">
            <span class="input-group-text">Email</span>
            <input [(ngModel)]="user.email" type="email" name="email" id="email" class="form-control">
        </div>
        <input class="btn btn-primary col-12" type="submit" value="Update Profile">
    </form>
    </div>
</div>