<div>
    <h1>Dashboard</h1>
    <div class="" [ngSwitch]="user_type">
        <div class="card-group user" *ngSwitchCase="'2'">
            <div class="card text-center">
                <i class="fas fa-user-circle fa-8x"></i>
                <div class="card-body">
                    <h5 class="card-title">My Profile</h5>
                    <a [routerLink]="'/my-profile'" class="btn btn-primary btn-block">Full Details</a>
                </div>
            </div>
            <div class="card text-center">
                <i class="fas fa-chess-rook fa-8x"></i>
                <div class="card-body">
                    <h5 class="card-title">My Room</h5>
                    <a [routerLink]="'/room-details'" class="btn btn-primary btn-block">Full Details</a>
                </div>
            </div>
        </div>
        <div class="card-group admin" *ngSwitchCase="'1'">
            <div class="card text-center">
                <i class="fas fa-user-graduate fa-8x"></i>
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <a [routerLink]="'/manage-students'" class="btn btn-primary btn-block">Full Details</a>
                </div>
            </div>
            <div class="card text-center">
                <i class="fas fa-chess-rook fa-8x"></i>
                <div class="card-body">
                    <h5 class="card-title">Total Rooms</h5>
                    <a [routerLink]="'/manage-rooms'" class="btn btn-primary btn-block">Full Details</a>
                </div>
            </div>
            <div class="card text-center">
                <i class="fas fa-book-open fa-8x"></i>
                <div class="card-body">
                    <h5 class="card-title">Total Courses</h5>
                    <a [routerLink]="'/manage-courses'" class="btn btn-primary btn-block">Full Details</a>
                </div>
            </div>
        </div>
    </div>
</div>