<div class="mx-2 mt-2">
    <h1>Change Password</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div *ngIf="resultString=='0'" class="alert alert-danger">Failed To Change Password</div>
            <div *ngIf="resultString=='1'" class="alert alert-success">Password Changed Successfully</div>
            <div *ngIf="resultString=='2'" class="alert alert-danger">New Password and Confirm Password Must Match</div>
            <form #form="ngForm" (ngSubmit)="submit(); form.resetForm()">
                <div class="form-group d-flex">
                    <span class="input-group-text">Old Password</span>
                    <input [(ngModel)]="oldPassword" type="password" name="old" id="old" class="form-control"
                        autocomplete="false" (change)="checkOldPassword()">
                </div>
                <div class="mt-0 pt-0 col-12">
                    <small *ngIf="resultString=='3'" class="text-danger">Old Password Is Incorrect</small>
                </div>

                <div class="form-group d-flex">
                    <span class="input-group-text">New Password</span>
                    <input [(ngModel)]="newPassword" type="password" name="new" id="new" class="form-control"
                        autocomplete="false">
                </div>
                <div class="form-group d-flex">
                    <span class="input-group-text">Confirm Password</span>
                    <input [(ngModel)]="confirmPassword" type="password" name="confirm" id="confirm"
                        class="form-control" autocomplete="false">
                </div>
                <input type="submit" value="Change Password" class="btn btn-primary col-12">
            </form>
        </div>
    </div>
</div>